:root{
    --top:600px;
    --height:70px;
    --width:800px
}
.game{
    width: var(--width);
    height: var(--top);
    border: 2px solid;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.game .sky{
    background-color: rgb(212, 240, 255);
    width: 200%;
    height:100%;
    position: absolute;
    left: 0;
}
.game .ground{
    width: 200px;
    position: absolute;
    left:0px;
    top:calc(var(--top) - var(--height));
    height: var(--height);
    background-color: black;
}
.game .guy{
    width: 10px;
    height: 20px;
    background-color: bisque;
    position: absolute;
    bottom: 70px;
    left:180px;
}
.game .stick{
    width: 2px;
    background-color: black;
    height: 0px;
    position: absolute;
    left:198px;
    bottom:70px;
}
.store{
    background-color: aliceblue;
    
     z-index: 5;
     position: absolute;
 }
 .over{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 200px;
    top:200px;
    z-index: 1;
    background-color: blanchedalmond;
    line-height: 200px;
    display: none;

 }